/* Resetando alguns estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root { /* <html> */
    --fonte-geral: 'Ubuntu', sans-serif;
}

body {
    font-family: var(--fonte-geral);
}

.elementos-em-linha {
    display: flex;
    justify-content: space-between;
}

form {
    width: 600px;
}