@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: beige;
}

.titulo-pagina {
    width: 600px;
    margin: 2rem auto;
    text-align: center;
    font-size: 2.2rem;
}

main {
    width: 600px;
    /* border-width: 1px; */
    /* border-style: solid; */
    /* border-color: black; */
    border: 1px solid black; /* shorthand para a borda */
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #888;
}

.elementos-em-linha {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.botoes {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
}

input {
    width: 100%;
    line-height: 2.2;
    border-radius: 4px;
    border: 1px solid #000000;
    padding-left: 8px;
    margin-top: 8px;
    /* outline: none; */
}

#resultado {
    border: 1px solid black;
    height: 2rem;
    margin: 2rem 0 0 0;
    border-radius: 4px;
    display: flex;
    flex-direction: row; /* estabelece a direção de alinhamento */
    justify-content: center; /* alinha no eixo principal */
    align-items: center; /* alinha no eixo secundário */
}

button {
    width: 100%;
    line-height: 2.2;
    border: none;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: inset 2px 2px 2px #333333;
}

#btClassificar {
    background-color: #2078ec;
    color: #ffffff;
}

#btClassificar:hover {
    background-color: #2078ec;
}

#btClassificar:active {
    background-color: #1d6dd6;
}

#btLimpar {
    background-color: #e85391;
    color: #ffffff;
}

#btLimpar:hover {
    background-color: #e85391;
}

#btLimpar:active {
    background-color: #e82375;
}


